<app-header></app-header>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 fw-normal" style="color: white;">Nuestro proyecto</h1>
            <p class="lead fw-normal " style="color: white;">Descubra mucho más sobre Arduino y sus aplicaciones al mundo de la electromiografía.. </p>
            <button class="btn btn-outline-success" href="#">Descubrir más..</button>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        <img class="background-image" src="/assets/fondo1aboutus.jpg" >
        
      </div>
    <div class="container px-4 py-5" id="hanging-icons">
        <h2 class="pb-2 border-bottom">ArduinoMuscle</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="col d-flex align-items-start">
            
            <div>
              <h2>Comienzo</h2>
              <p>Este proyecto consiste en un sistema basado en Arduino que utiliza sensores de electromiografía (EMG) para medir la actividad muscular. Estos sensores capturan las señales eléctricas generadas por los músculos y las convierten en datos digitales.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            
            <div>
              <h2>Adaptación</h2>
              <p>Utilizando Node.js como backend y Angular como frontend, el sistema recopila los datos de los sensores y los procesa para generar una representación visual en forma de gráfica. Esta gráfica muestra en tiempo real la actividad muscular, permitiendo visualizar y analizar la fuerza y contracción de los músculos durante distintas actividades o ejercicios</p>
              
            </div>
          </div>
          <div class="col d-flex align-items-start">
            
            <div>
              <h2>Aplicación</h2>
              <p>Este proyecto combina la tecnología de Arduino, los sensores EMG y las herramientas de desarrollo web para proporcionar una solución práctica y eficiente en el campo de la medición de la actividad muscular. Con su capacidad de monitoreo en tiempo real y análisis avanzado, ofrece beneficios tanto para profesionales de la salud y rehabilitación, como para deportistas y entusiastas del fitness que deseen mejorar su rendimiento y controlar su actividad muscular de manera precisa y efectiva.</p>
              
            </div>
          </div>
        </div>
      </div>
      <div class="container" style="margin-bottom: 30px;">
        <h2>Desarrolladores</h2>
        
        <div class="row">
          <div class="col-md">
            <div class="card">
              <img class="card-img-top" src="/assets/Gamboa.jpg" alt="Miembro del equipo 1">
              <div class="card-body">
                <h5 class="card-title">Jose Manuel Gamboa</h5>
                <p class="card-text">Estudiante de Ciclo Superior de Aplicaciones Multiplataforma en la EESS Salesianas de Nervión, Sevilla.</p>
              </div>
            </div>
          </div>
          
          <div class="col-md">
            <div class="card">
              <img class="card-img-top" src="/assets/Treig.png" alt="Miembro del equipo 2">
              <div class="card-body">
                <h5 class="card-title">Javier Treig</h5>
                <p class="card-text">Descripción del miembro 2.</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
<app-footer></app-footer>