<app-header></app-header>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 fw-normal" style="color: white;">Electromiografía con Arduino</h1>
            <p class="lead fw-normal " style="color: white;">Descubra mucho más sobre Arduino y sus aplicaciones al mundo de la electromiografía.. </p>
            <button class="btn btn-outline-success" href="#">Descubra más..</button>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        <img class="background-image" src="/assets/fondo1aboutus.jpg" >
        
      </div>
    <div class="container px-4 py-5" id="hanging-icons">
        <h2 class="pb-2 border-bottom">Hanging icons</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
              <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
            </div>
            <div>
              <h2>Featured title</h2>
              <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
              <a href="#" class="btn btn-primary">
                Primary button
              </a>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
              <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
            </div>
            <div>
              <h2>Featured title</h2>
              <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
              <a href="#" class="btn btn-primary">
                Primary button
              </a>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
              <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"></use></svg>
            </div>
            <div>
              <h2>Featured title</h2>
              <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
              <a href="#" class="btn btn-primary">
                Primary button
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="container" style="margin-bottom: 30px;">
        <h2>Equipo</h2>
        
        <div class="row">
          <div class="col-md">
            <div class="card">
              <img class="card-img-top" src="ruta-a-la-imagen.jpg" alt="Miembro del equipo 1">
              <div class="card-body">
                <h5 class="card-title">Nombre del miembro 1</h5>
                <p class="card-text">Descripción del miembro 1.</p>
              </div>
            </div>
          </div>
          
          <div class="col-md">
            <div class="card">
              <img class="card-img-top" src="ruta-a-la-imagen.jpg" alt="Miembro del equipo 2">
              <div class="card-body">
                <h5 class="card-title">Nombre del miembro 2</h5>
                <p class="card-text">Descripción del miembro 2.</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
<app-footer></app-footer>