@font-face {
  font-family: 'Monrad'; 
  src: url('/assets/monrad.ttf') format('truetype'); 
}

.selector {
  font-family: 'Monrad', sans-serif; 
}
.position-relative {
    /* Agrega esta regla para asegurarte de que el div padre tenga posición relativa */
    position: relative;
  }
  
  .background-image {
    /* Estilos para hacer que la imagen ocupe el 100% del div */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px); /* Aplica el efecto de desenfoque */
    z-index: -1; /* Mueve la imagen detrás del contenido del div */
  } 
  .card-img-top{

    height: 400px;
    
  }
  .card{
    border: 3px dotted black;
    width: 90%;
    height: 100%;
    -webkit-box-shadow: 5px 5px 47px 17px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 47px 17px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 47px 17px rgba(0, 0, 0, 0.75);
  }