nav {
    border-bottom: 2px solid #EEEBD3;
    background-color: #92374d;
    box-shadow: 24px 24px 47px #cfcfcf, -24px -24px 47px #ffffff;
    justify-content:center ;
  }
  
  #contenedorCabecera {
    border-bottom: 1000cm;
    border-color: #00979C;
  }
  /* Imagenes:*/
  #logtipo{
    margin-left: 6%;
    width: 8%;

  }
  
  #imagenPerfil {
    width: 40px;
    margin-right: 20px;
  }
  
  /*Div menú:*/
  
  ul li {
justify-content: center;
    display: inline-block;
    margin-left: 40px;
   
  }
  
  
  .nav-link {
    font-weight: bolder;
  }
  
  .navbar-nav a {
    
    position: relative;
    color: white;
    font-weight: bolder;
  }
  
  .navbar-nav a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #00979C;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }
  
  .navbar-nav a:hover::before {
    transform: scaleX(1);
  }
  
  .navbar-nav[data-animation="to-left"] a::before {
    transform-origin: right;
  }
  .navbar-nav[data-animation="center"] a::before {
    transform-origin: center;
  }
  
  .navbar-nav[data-animation="bonus"] a::before {
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
  }
  .navbar-nav[data-animation="bonus"] a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
  }
  