<app-header></app-header>
<br><br>
<div class="text-center"  id="cabecera" ><br>
<h1>Página principal</h1>
<hr style="color: black; margin-left: 25%; margin-right: 25% ; font-weight: bolder;" width="50%" >
<p class="text-center" id="centrado">¿Que encontrarás en nuestra web?, encontrarás la manera más sencilla de poder medir, electromiográficamente, tus músculos, al flexionarse o estar en movimiento.
    ¿para que te servirá esto?, pues principalmente, verás como actúan tus músculos a grandes cargas de flexión, movimiento y demás aspectos, viendolo reflejado como lo desees, ya sea mediante una gráfica
    o mediante una tabla de valores donde podrás encontrar hasta el milisegundo donde se produjo la flexión o la variación de los datos que puede marcarte una lesión y conseguir ver su alcance.
    Interesante, ¿verdad?. ¡Sigue navegando y encontrarás mas sobre nosotros y nuestro proyecto!
</p>
</div>
<br>
<br>
<div id="content">

    <div class="one">
        <h3 class="section-title">¿Que buscamos lograr??</h3>
        <p>Buscamos facilitar la electromiografía mediante un método que hasta ahora no se ha obtenido y es trasladando los datos a una web, además de usar una placa de arduino y demás elementos para formar un circuito.</p>
        <br>
        <p>Todo esto es parte de un TFG de el CFGS Desarrollo de Aplicaciones Multiplataforma, realizado por nosotros, dos jóvenes informáticos que estamos empezando a desarrollar nuestras capacidades.</p>
    </div>
    <div class="two">
        <h3 class="section-title">¿Que tecnologías utilizamos?</h3>
        <div class="justify-content-center">
        <ul class="styled-list " >
            <li>Arduino Uno</li>
            <li>Angular</li>
            <li>Bases de Datos</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Electrodos</li>
            <li>Cableado</li>
            <li>etc</li>
          </ul>
        </div>
    </div>
    <div class="three">Ideas de proyecto</div>
    <div class="four">4</div>
    <div class="five" id="violeta">5</div>

</div>

<app-footer></app-footer>