<div class="container">
  <div class="row">
    <div class="col-md-2" id="divBotones">
      <!-- Div con los botones -->
      <div class="button-container">
        <button class="btn btn-block" (click)="conectarArduino()" style="background-color: #00979C; border: 2px solid black; border-radius: 2px;">
          <img src="assets/arduino.png" alt="">
          <span class="indicator"></span>
        </button>
        <button class="btn  btn-block" (click)="resetearArduino()" style="background-color: orange; border: 2px solid black; border-radius: 2px;">
          <img src="assets/reseteo.png" alt="">
          <span class="indicator"></span>
        </button>
        <button class="btn  btn-block" (click)="desconectarArduino()" style="background-color: red; border: 2px solid black; border-radius: 2px;">
          <img src="assets/desconectado.png" alt="">
          <span class="indicator"></span>
        </button>
        <button class="btn btn-block" (click)="enviarDatos()" style="background-color: green; border: 2px solid black; border-radius: 2px;">
          <img src="assets/datos.png" alt="">
          <span class="indicator"></span>
        </button>
      </div>
    </div>

    <div class="col-md-10" style="width: 1200px;">
      <section id="tabs">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" href="#tab1" data-toggle="tab">Información</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#tab2" data-toggle="tab">Tabla de datos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#tab3" data-toggle="tab">Gráfica</a>
                </li>
              </ul>
              <br>
              <h6 class="section-title h1 text-center">{{ mensajeConexion }}</h6>
              <br>
              <div class="tab-content justify-content-center">
                <div class="tab-pane active" id="tab1">
                  <div class="justify-content-center">
                    <h1>Arduino</h1>
                    <hr>
                  </div>
                </div>
                <div class="tab-pane" id="tab2">
                  <h1 class="text-center">Datos</h1>
                  <p class="text-center">Se están generando datos automáticamente desde la placa de Arduino mediante tus movimientos. Compruébalos en esta tabla.</p>
                  <hr>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Dato</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let lectura of paginatedLecturas">
                        <tr>
                          <td>{{ lectura.id }}</td>
                          <td>{{ lectura.fecha }}</td>
                          <td>{{ lectura.valor }}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                  <nav aria-label="Page navigation example" class="text-center" style="margin-left: 50%; margin-top: 40px;">
                    <ul class="pagination">
                      <li class="page-item" [class.disabled]="pageIndex === 0">
                        <a class="page-link" href="#" (click)="goToPage(pageIndex - 1)" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="page-item" [class.active]="pageIndex === i" *ngFor="let i of getPageNumbers()">
                        <a class="page-link" href="#" (click)="goToPage(i)">{{ i + 1 }}</a>
                      </li>
                      <li class="page-item" [class.disabled]="pageIndex === totalPages - 1">
                        <a class="page-link" href="#" (click)="goToPage(pageIndex + 1)" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
                <div class="tab-pane" id="tab3">
                  <div #chartContainer></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <br>
  <button class="btn" style="background-color: white; border: 3px solid black; border-radius: 5px; margin-left: -8%;" (click)="confirmarEliminacion()">
    <img src="assets/borrar.gif" alt="">
  </button>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    // Activate the first tab by default
    $("#tab1").addClass("active");
    $("#tab1-content").addClass("show active");

    // Switch tabs
    $(".nav-link").click(function (event) {
      event.preventDefault();
      $(this).tab("show");
    });
  });
</script>
<br>
<br>
<app-footer></app-footer>
