<app-header></app-header>
<br><br>
<div class="text-center">
<h1>Datos</h1>
<hr style="color: black; margin-left: 25%; margin-right: 25% ; font-weight: bolder;" width="50%" >
<br>
<p class="text-start" style="margin-left: 20%; margin-right: 20% ;">En esta parte de nuestra web, podrás medirte en tiempo real tus movimientos musculares, mostrarlos aquí, para poder analizarlos y hasta si lo deseas, mostrarlos mediante una gráfica para verlo mucho más actualizado</p>

<section id="tabs">
  <div class="container">
    <h6 class="section-title h1">Tabs</h6>
    <div class="row">
      <div class="col-xs-12">
        <ul class="nav nav-tabs" id="tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#tab1" data-toggle="tab">Información</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tab2" data-toggle="tab">Tabla de datos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tab3" data-toggle="tab">Grafica</a>
          </li>
        </ul>
        <br>
        <div class="tab-content justify-content-center">
          <div class="tab-pane active" id="tab1">
            <div class="justify-content-center">
              <h1>Arduino uno <hr></h1>
            </div>
          </div>
          <div class="tab-pane" id="tab2">
            <h1 class="text-center">Datos</h1>
            <p class="text-center"> Se estan generando datos automaticamente desde la placa dearduino mediante tuss movimientos... Compruébalos en esta tabla</p>
            <hr>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Dato</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>1</td>
                  <td>21/07/2023 00:00:00.000</td>
                  <td>1234</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>2</td>
                  <td>21/07/2023 00:00:00.000</td>
                  <td>900</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>3</td>
                  <td>21/07/2023 00:00:00.000</td>
                  <td>659</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane" id="tab3">Contenido de la pestaña 3</div>
        </div>
      </div>
    </div>
  </div>
</section>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
        // Activate the first tab by default
        $("#tab1").addClass("active");
        $("#tab1-content").addClass("show active");

        // Switch tabs
        $(".nav-link").click(function(event) {
            event.preventDefault();
            $(this).tab("show");
        });
    });
</script>
<br>
<br>
<app-footer></app-footer>